<div class='my-2'>
  <% if !@bar_shown && @last_read_at && message.created_at > @last_read_at %>
    <% @bar_shown = true %>
    <div class="border-b border-1 border-red-500"></div>
  <% end %>

  <div><b><%= message.user.email %></b></div>
  <div><%= message.body %></div>
</div>
